[Unit]
Description=Nomad
Documentation=https://developer.hashicorp.com/nomad/docs
Wants=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ hashicorp_nomad_config_dir }}/nomad.json
{% if hashicorp_nomad_configuration.consul.address is defined %}
Wants=consul.service
After=consul.service
{% endif %}

[Service]
EnvironmentFile=-{{ hashicorp_nomad_config_dir }}/nomad.env
{% if not (hashicorp_nomad_configuration.client.enabled is defined and hashicorp_nomad_configuration.client.enabled) %}
User={{ hashicorp_nomad_user }}
Group={{ hashicorp_nomad_group }}
{% else %}
User=root
Group=root
{% endif %}
ExecStart={{ hashicorp_nomad_binary_path }} agent -config {{ hashicorp_nomad_config_dir }}/nomad.json
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
LimitNOFILE=65536
LimitNPROC=infinity
RestartSec=2
TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
